.col {
    outline: 1px solid orange;
}

.q1 {
    text-align: center;
}

h1,
button {
    font-family: 'Fredoka One'
        color  : #00A1DD;
}

h2 {
    font-size: 16px;
}

body{
    transition-duration:6000ms; 
    transition-property:background;
    transition-timing-function:linear;
    
  /*   transition-timing-function:ease-in; */
    
  /*   transition-timing-function:ease-out; */
  
  }